*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal{
    text-align: center;
    height: 100vh;
    background: rgb(182, 200, 233);
}

.valor{
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 15px;
    top: 50%;
    left: 50%;
    background: rgb(2, 5, 5);
}
.valor h2{
    color: white;
}
.botao{
    width: 70px;
    height: 40px;
}

.maior{
    height: 85px
}

.zero{
    width: 142px;
}

#resultado{
    background-color: white;
    width: 280px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}