:root{
    --cor-principal: rgba(41, 181, 190, 0.678);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--cor-principal);
    font-family: 'Open Sans', sans-serif
}
.principal{
    width: 640px;
    margin: 50px auto;
    background: white;
    border-radius: 20px;
    padding: 20px;
}
.name{
    padding-left: 0;
    margin-left: 10px;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
}
.formulario input, .formulario label, .formulario button{
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    
}

.formulario input{
    font-size: 24px;
   height: 50px;
   padding: 0 20px;
}
.formulario input:focus{
    outline: 2px solid var(--cor-principal);
}
button{
    margin-top: 20px;
    font-size: 22px;
    color: black;
    height: 45px;
    background: var(--cor-principal);
    border: none;
    cursor: pointer;
}

button:hover{
    background: rgba(35, 35, 180, 0.521);
}

#resultado{
    margin-top: 20px;
}

.resultado, .bad {
    background: rgb(83, 184, 36);
    padding: 10px 20px;
  }
  
.bad {
    background: rgb(236, 75, 75);
}